pandas==0.25.0
numpy==1.16.2
torch==1.1.0
torchvision==0.3.0
git+git://github.com/albu/albumentations.git
git+git://github.com/lukemelas/EfficientNet-PyTorch.git
tqdm
opencv-contrib-python
pathlib
scikit-image==0.14.2
efficientunet-pytorch==0.0.5
joblib
